
/node_modules
/.pnp
.pnp.js

.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

/dist
/dist-ssr
/build

/coverage
*.local
__screenshots__
/cypress/videos/
/cypress/screenshots/

.eslintcache
*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

auto-imports.d.ts
components.d.ts
