version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    volumes:
      - ./backend:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8000:8000"
    command: >
      sh -c "
        composer install &&
        cp .env.example .env &&
        php artisan key:generate &&
        touch database/database.sqlite &&
        php artisan migrate --seed &&
        php artisan serve
      "

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    volumes:
      - ./frontend:/app
    working_dir: /app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    command: >
      sh -c "
        npm install &&
        npm run dev
      "
