version: "3.8"

services:
  backend:
    build: ./backend
    container_name: sefaz_backend
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_KEY=
    command: >
      sh -c "php artisan key:generate &&
             php artisan migrate --seed &&
             php artisan serve --host=0.0.0.0 --port=8000"

  frontend:
    build: ./frontend
    container_name: sefaz_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    depends_on:
      - backend
